services:
  - type: web
    name: alliance-ai-python-backend
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
